{{ partial "header" .}}

<h1>{{ .Title | markdownify }}</h1>
{{ .Content }}

<h2>{{ .Site.Params.main.latestPublishHeader | default "Highlighted Project" }}</h2>
  {{ $pages := where site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ $break := false }}
  {{ range $elem_val := $pages }}
    {{ if $break }}
    {{ else }}
      {{ if in .Site.Params.mainSections "portfolio" }}
        {{ if eq $elem_val.Title "N-Body Simulation"}}
          {{ partial "portfolio/item" $elem_val}}
          {{ $break = false }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  <center>
<h2>What I'm Reading</h2>
<div class="recently-read-books"><table border="0" class="table stacked" id="books">
<thead>
<tr class="tableList" id="booksHeader">
<th alt="checkbox" class="header field checkbox" style="">
</th>
<th alt="position" class="header field position" style="display: none">
<nobr>
                      #
                    </nobr>
</th>
<th alt="cover" class="header field cover" style="">
<nobr>
                      cover
                    </nobr>
</th>
<th alt="title" class="header field title" style="">
<nobr>
                      title
                    </nobr>
</th>
<th alt="author" class="header field author" style="">
<nobr>
                      author
                    </nobr>
</th>
















<th alt="date_started" class="header field date_started" style="display: none">
<nobr>
                      started
                    </nobr>
</th>








</tr>
</thead>
<tbody id="booksBody">
<tr class="bookalike review" id="review_5229375874">
<td class="field checkbox"><label>checkbox</label><div class="value">       
</div></td> <td class="field position" style="display: none"><label>position</label><div class="value"></div></td> <td class="field cover"><label>cover</label><div class="value"> <div class="js-tooltipTrigger tooltipTrigger" data-resource-id="23168817" data-resource-type="Book">
<a href="/book/show/23168817-the-dark-forest"><img alt="The Dark Forest (Remembrance of Earth’s Past, #2)" id="cover_review_5229375874" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1412064931l/23168817._SY75_.jpg"/></a>
</div>
</div></td> <td class="field title"><label>title</label><div class="value"> <a href="/book/show/23168817-the-dark-forest" title="The Dark Forest (Remembrance of Earth’s Past, #2)">
      The Dark Forest
        <span class="darkGreyText">(Remembrance of Earth’s Past, #2)</span>
</a></div></td> <td class="field author"><label>author</label><div class="value"> <a href="/author/show/5780686.Liu_Cixin">Liu, Cixin</a>
<span title="Goodreads Author!">*</span>
</div></td>        



<td class="field date_started" style="display: none"><label>date started</label><div class="value">
<div class="date_row">
<div class="editable_date date_started_amzn1grreading_sessionv15a3c12bb5de4426da864963950dc9c79">
<span class="date_started_value">Jan 16, 2023</span>
</div>
</div>
</div></td>

</tr>
<tr class="bookalike review" id="review_3656484528">
<td class="field checkbox"><label>checkbox</label><div class="value">       
</div></td> <td class="field position" style="display: none"><label>position</label><div class="value"></div></td> <td class="field cover"><label>cover</label><div class="value"> <div class="js-tooltipTrigger tooltipTrigger" data-resource-id="44767248" data-resource-type="Book">
<a href="/book/show/44767248-human-compatible"><img alt="Human Compatible: Artificial Intelligence and the Problem of Control" id="cover_review_3656484528" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1561637199l/44767248._SY75_.jpg"/></a>
</div>
</div></td> <td class="field title"><label>title</label><div class="value"> <a href="/book/show/44767248-human-compatible" title="Human Compatible: Artificial Intelligence and the Problem of Control">
      Human Compatible: Artificial Intelligence and the Problem of Control
</a></div></td> <td class="field author"><label>author</label><div class="value"> <a href="/author/show/1046726.Stuart_Russell">Russell, Stuart</a>
</div></td>        



<td class="field date_started" style="display: none"><label>date started</label><div class="value">
<div class="date_row">
<div class="editable_date date_started_amzn1grreading_sessionv13a4ce5a273c545d49fe0e595f865e310">
<span class="date_started_value">Jan 05, 2023</span>
</div>
</div>
</div></td>

</tr>
</tbody></table></div>
</center>

{{ partial "footer" .}}
