{{ partial "header" .}}

<h1>{{ .Title | markdownify }}</h1>
{{ .Content }}

<h2>{{ .Site.Params.main.latestPublishHeader | default "Highlighted Project" }}</h2>
  {{ $pages := where site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ $break := false }}
  {{ range $elem_val := $pages }}
    {{ if $break }}
    {{ else }}
      {{ if in .Site.Params.mainSections "portfolio" }}
        {{ if eq $elem_val.Title "N-Body Simulation"}}
          {{ partial "portfolio/item" $elem_val}}
          {{ $break = false }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  <center>
  <div class="gr-recently-read-books">
    <style type="text/css" media="screen">
      .gr_grid_container {
        /* customize grid container div here. eg: width: 500px; */
      }

      .gr_grid_book_container {
        /* customize book cover container div here */
        float: left;
        width: 98px;
        height: 160px;
        padding: 0px 0px;
        overflow: hidden;
      }
    </style>
    <div id="gr_grid_widget_1644773763">
      <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
          <h2>
    <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/94131787-liam-b?shelf=read&utm_medium=api&utm_source=grid_widget">Recently Read Books</a>
  </h2>
<div class="gr_grid_container">
  <div class="gr_grid_book_container"><a title="The Ministry for the Future" rel="nofollow" href="https://www.goodreads.com/book/show/50998056-the-ministry-for-the-future"><img alt="The Ministry for the Future" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1586372180l/50998056._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="Shadows of Self (Mistborn, #5)" rel="nofollow" href="https://www.goodreads.com/book/show/16065004-shadows-of-self"><img alt="Shadows of Self" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1435053013l/16065004._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="The Art of Living: Peace and Freedom in the Here and Now" rel="nofollow" href="https://www.goodreads.com/book/show/34399106-the-art-of-living"><img alt="The Art of Living: Peace and Freedom in the Here and Now" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1488126844l/34399106._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="Dune (Dune #1)" rel="nofollow" href="https://www.goodreads.com/book/show/39776179-dune"><img alt="Dune" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1620503959l/39776179._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="Roadside Picnic" rel="nofollow" href="https://www.goodreads.com/book/show/12851913-roadside-picnic"><img alt="Roadside Picnic" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1344705874l/12851913._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="The Final Martyrs" rel="nofollow" href="https://www.goodreads.com/book/show/6586429-the-final-martyrs"><img alt="The Final Martyrs" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328169939l/6586429._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="The Good Earth (House of Earth #1)" rel="nofollow" href="https://www.goodreads.com/book/show/1088141.The_Good_Earth"><img alt="The Good Earth" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388204251l/1088141._SY160_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="The Rise of Kyoshi (The Kyoshi Novels, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/41104164-the-rise-of-kyoshi"><img alt="The Rise of Kyoshi" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1535687326l/41104164._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="Defenders of Ulthuan" rel="nofollow" href="https://www.goodreads.com/book/show/10456699-defenders-of-ulthuan"><img alt="Defenders of Ulthuan" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1302369502l/10456699._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="Zen Mind, Beginner's Mind: Informal Talks on Zen Meditation and Practice" rel="nofollow" href="https://www.goodreads.com/book/show/402843.Zen_Mind_Beginner_s_Mind"><img alt="Zen Mind, Beginner's Mind: Informal Talks on Zen Meditation and Practice" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1392992935l/402843._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="Artemis" rel="nofollow" href="https://www.goodreads.com/book/show/34928122-artemis"><img alt="Artemis" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1494273579l/34928122._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="Hard Contact (Star Wars: Republic Commando, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/94781.Hard_Contact"><img alt="Hard Contact" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1420793021l/94781._SY160_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="The Body Keeps the Score: Brain, Mind, and Body in the Healing of Trauma" rel="nofollow" href="https://www.goodreads.com/book/show/18693771-the-body-keeps-the-score"><img alt="The Body Keeps the Score: Brain, Mind, and Body in the Healing of Trauma" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1594559067l/18693771._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="The Heart of the Buddha's Teaching: Transforming Suffering into Peace, Joy, and Liberation" rel="nofollow" href="https://www.goodreads.com/book/show/209574.The_Heart_of_the_Buddha_s_Teaching"><img alt="The Heart of the Buddha's Teaching: Transforming Suffering into Peace, Joy, and Liberation" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1360857814l/209574._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="Permutation City" rel="nofollow" href="https://www.goodreads.com/book/show/18883652-permutation-city"><img alt="Permutation City" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1385107840l/18883652._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="Shadow and Bone (Shadow and Bone, #1)" rel="nofollow" href="https://www.goodreads.com/book/show/35384793-shadow-and-bone"><img alt="Shadow and Bone" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1546204239l/35384793._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="Superintelligence: Paths, Dangers, Strategies" rel="nofollow" href="https://www.goodreads.com/book/show/20527133-superintelligence"><img alt="Superintelligence: Paths, Dangers, Strategies" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1400884046l/20527133._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="The Alloy of Law (Mistborn, #4)" rel="nofollow" href="https://www.goodreads.com/book/show/10803121-the-alloy-of-law"><img alt="The Alloy of Law" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1442889632l/10803121._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="The Prince and the Zombie: Tibetan Tales of Karma" rel="nofollow" href="https://www.goodreads.com/book/show/22716569-the-prince-and-the-zombie"><img alt="The Prince and the Zombie: Tibetan Tales of Karma" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1409619948l/22716569._SX98_.jpg" /></a></div>
  <div class="gr_grid_book_container"><a title="What the Buddha Taught" rel="nofollow" href="https://www.goodreads.com/book/show/390562.What_the_Buddha_Taught"><img alt="What the Buddha Taught" border="0" src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328824084l/390562._SX98_.jpg" /></a></div>
  <br style="clear: both"/><br/><a class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" rel="nofollow" href="https://www.goodreads.com/user/show/94131787-liam-b">Liam B.'s favorite books »</a>
<noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Liam, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
</div>

    </div>
    <script src="https://www.goodreads.com/review/grid_widget/94131787.Recently%20Read%20Books?cover_size=medium&hide_link=&hide_title=&num_books=30&order=d&shelf=read&sort=date_read&widget_id=1644773763" type="text/javascript" charset="utf-8"></script>


  </div>
  </center>

{{ partial "footer" .}}
