body {
    font-family: 'Roboto', sans-serif;
}

.description {
    text-align: center;
    left: 25%;
    right: 25%;
    top: 20%;
    position: absolute;
    z-index: -1;
}

.description-home {
    text-align: center;
    left: 25%;
    right: 25%;
    top: 20%;
    position: absolute;
    z-index: -1;
}

h1 {
    color: #000000;
    font-size: 44pt;
}

h2 {
    color: #000000;
    font-size: 20pt;
}

h3 {
    color: #000000;
    font-size: 18pt;
}

p {
    color: #000000;
    font-size: 14pt;

    /*font-size: 1.3rem;
    line-height: 1.5;*/
}

ul {
    color: #000000;
    font-size: 1.3rem;
    line-height: 1.5;
    display: block;
}

li {
    display: inline;
}

.navbar-text {
    color: #000000;
    font-size: 1.3rem;
    line-height: 1.5;
    display: block;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

/*.icon-bar a:hover {
    background-color: #000;
}*/

img {
    width: 100%;
    height: auto;
}

video {
    width: 100%;
    height: auto;
}

.portrait {
    width: auto;
    max-height: 400px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    max-height: 200px;
    max-width: 200px;
}

.demo-square {
    max-height: 400px;
    max-width: 400px;
}

.projectDiv {
    display: none;
}

button {
    border: solid;
    border-color: #7f7fff;
    color: white;
    /*padding: 15px 32px;*/
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.github {
    background: #000000;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}